<table>
  <thead>
    <th>Name</th>
    <th>Category</th>
  </thead>
{{ range .Site.Data.projects.projects }}
  {{ with .project }}
    {{ if not .hidden }}
      {{ if .blog }}
        <tr>
          <td><a href="/posts/{{ .slug }}">{{ .name }}</a></td>
          <td>{{ .type }}</td>
        </tr>
      {{ else }}
        <tr>
          <td><a href="/projects/{{ .slug }}">{{ .name }}</a></td>
          <td>{{ .type }}</td>
        </tr>
      {{ end }}
    {{ end }}
  {{ end }}
{{ end }}
</table>
